<!DOCTYPE html>
<html>

<head>
    <title>Trang Thông Tin Cá Nhân</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Header -->
    <header class="header py-3 sticky-top">
        <div class="header__container container position-relative">
            <div class="header__wrap d-flex align-items-center justify-content-between">

                <!-- Logo -->
                <div class="header__logo flex-shrink-0">
                    <a href="/" class="text-white fw-bold text-decoration-none fs-4 fs-md-2">
                        E-STORE
                    </a>
                </div>

                <!-- Menu -->
                <nav class="header__menu d-flex align-items-center ms-2 flex-shrink-0">
                    <i class="fa-solid fa-bars"></i>
                    <span class="d-none d-md-block ms-2">DANH MỤC</span>
                </nav>

                <!-- Sidebar Overlay -->
                <div class="sidebar-overlay position-fixed"></div>

                <div class="sidebar-form position-fixed w-100">
                    <!-- Sidebar Popup -->
                    <div class="sidebar d-flex align-items-start bg-transparent">
                        <!-- Sidebar List -->
                        <ul class="sidebar__container list-unstyled m-0 p-0">
                            <li class="sidebar__item active" data-category="phones">
                                <div class="sidebar__item--content">
                                    <i class="fa-solid fa-mobile-screen-button"></i>
                                    <span>
                                        <a href="/products">Điện thoại</a>,
                                        <a href="/products">Tablet</a>
                                    </span>
                                </div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </li>
                            <li class="sidebar__item" data-category="laptop">
                                <div class="sidebar__item--content">
                                    <i class="fa-solid fa-laptop"></i>
                                    <span>
                                        <a href="/products">Laptop</a>,
                                        <a href="/products">Màn hình</a>
                                    </span>
                                </div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </li>
                            <li class="sidebar__item" data-category="tv">
                                <div class="sidebar__item--content">
                                    <i class="fa-solid fa-tv"></i>
                                    <span>
                                        <a href="/products">TV</a>
                                    </span>
                                </div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </li>
                            <li class="sidebar__item" data-category="audio">
                                <div class="sidebar__item--content">
                                    <i class="fa-solid fa-headphones"></i>
                                    <span>
                                        <a href="/products">
                                            Âm Thanh
                                        </a>
                                    </span>
                                </div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </li>
                            <li class="sidebar__item" data-category="accessory">
                                <div class="sidebar__item--content">
                                    <i class="fa-solid fa-keyboard"></i>
                                    <span>
                                        <a href="/products">
                                            Phụ Kiện
                                        </a>
                                    </span>
                                </div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </li>
                            <li class="sidebar__item" data-category="discount">
                                <div class="sidebar__item--content">
                                    <i class="fa-solid fa-tag"></i>
                                    <span>
                                        <a href="/promotions">
                                            Khuyến Mãi
                                        </a>
                                    </span>
                                </div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </li>
                            <li class="sidebar__item" data-category="news">
                                <div class="sidebar__item--content">
                                    <i class="fa-solid fa-newspaper"></i>
                                    <span>
                                        <a href="/news">
                                            Tin Tức
                                        </a>
                                    </span>
                                </div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </li>
                        </ul>

                        <!-- Filter Content -->
                        <div class="sidebar__content" id="sidebarContent">
                        </div>
                    </div>
                </div>
                <!-- End Sidebar -->

                <!-- Search -->
                <form class="header__search d-flex align-items-center flex-grow-1 mx-2 mx-md-4" action="/search"
                    method="GET">
                    <input type="text" name="keyword" placeholder="Bạn cần tìm gì nào..."
                        class="flex-grow-1 border-0 outline-none">
                    <button type="submit" class="border-0 bg-transparent p-0">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>

                <!-- Account & Cart -->
                <div class="header__account d-flex align-items-center gap-2 gap-md-3 flex-shrink-0">

                    <!-- Username -->
                    <div class="header__account--username d-none d-lg-block text-white">
                        LE VAN A
                    </div>

                    <!-- Login -->
                    <a href="/auth/login"
                        class="header__account--login d-none align-items-center justify-content-center border-0 flex-shrink-0">
                        <i class="fa-regular fa-user"></i>
                        <div>Đăng nhập</div>
                    </a>

                    <!-- Icon User -->
                    <a href="/user-profile"
                        class="header__account--avt active d-flex align-items-center justify-content-center text-decoration-none flex-shrink-0">
                        <i class="fa-regular fa-user"></i>
                    </a>

                    <!-- Icon Cart -->
                    <a href="/cart"
                        class="header__account--cart d-flex align-items-center justify-content-center text-decoration-none flex-shrink-0 position-relative">
                        <div
                            class="header__account--cart-quantity fw-bold d-flex align-items-center justify-content-center position-absolute">
                            10
                        </div>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>

            </div>
        </div>
    </header>
    <!-- End Header -->

    <!-- Payment -->
    <section class="payment-info py-4">
        <div class="payment-info__container container">
            <div class="payment-info__header d-flex align-items-center mb-4">
                <a href="/" class="payment-info__back text-dark me-3">
                    <i class="fa-solid fa-arrow-left fs-4"></i>
                </a>
                <h4 class="payment-info__title fw-bold m-0 flex-grow-1 text-center">Thanh toán</h4>
            </div>

            <div class="payment__tabs d-flex justify-content-center align-items-center gap-2 mb-4">
                <span class="payment__tabs-btn text-center py-2">
                    <a href="/cart/payment-info" class="fw-bold">
                        Thông tin thanh toán
                    </a>
                </span>

                <span class="payment__tabs-btn active text-center py-2">
                    <a href="/cart/payment" class="fw-bold">
                        Thanh toán
                    </a>
                </span>
            </div>

            <div class="payment-order-summary">
                <div class="payment-summary__container container">
                    <div class="payment__card card border-0 shadow-sm rounded-4 p-4 mx-auto">

                        <div class="payment__voucher mb-4">
                            <div class="d-flex gap-2 border-bottom pb-2">
                                <input type="text"
                                    class="payment__voucher-input form-control border-0 px-0 shadow-none fw-medium"
                                    placeholder="Nhập mã giảm giá (chỉ áp dụng 1 lần)">
                                <button
                                    class="payment__voucher-btn btn btn-light text-muted rounded-3 border text-center">Áp
                                    dụng</button>
                            </div>
                        </div>

                        <div class="payment__details">
                            <div class="payment__row d-flex justify-content-between mb-3">
                                <span class="payment__label text-secondary fw-medium">Số lượng sản phẩm</span>
                                <span class="payment__value">01</span>
                            </div>

                            <div class="payment__row d-flex justify-content-between mb-3">
                                <span class="payment__label text-secondary fw-medium">Tổng tiền hàng</span>
                                <span class="payment__value fw-bold">2.990.000đ</span>
                            </div>

                            <div class="payment__row d-flex justify-content-between mb-3 border-bottom pb-3">
                                <span class="payment__label text-secondary fw-medium">Phí vận chuyển</span>
                                <span class="payment__value text-success fw-bold">Miễn phí</span>
                            </div>

                            <div class="payment__row d-flex justify-content-between mt-3 mb-3">
                                <span class="payment__label text-secondary fw-medium">Giảm giá</span>
                                <span class="payment__value">- 900.000đ</span>
                            </div>

                            <div class="payment__total-row d-flex justify-content-between align-items-end">
                                <div class="payment__total-text">
                                    <h5 class="payment__total-title fw-bold m-0">Tổng tiền</h5>
                                    <small class="payment__total-note text-muted fst-italic">Đã gồm VAT và được làm
                                        tròn</small>
                                </div>
                                <div class="payment__total-amount text-dark m-0 fw-bold">2.090.000đ</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h5 class="payment-info__title fw-bold my-3">THÔNG TIN THANH TOÁN</h5>

            <div class="payment-method-selected mb-4 p-2">
                <div class="payment-method__card card border-0 shadow-sm rounded-4 p-3 d-flex flex-row align-items-center justify-content-between mx-auto"
                    data-bs-toggle="modal" data-bs-target="#paymentMethodModal">

                    <div class="d-flex align-items-center gap-3">
                        <div
                            class="payment-method__icon-box d-flex align-items-center justify-content-center border border-danger border-2 rounded-3">
                            <i class="fa-solid fa-qrcode text-danger fs-4"></i>
                        </div>
                        <span class="payment-method__name fw-bold text-dark">Chuyển khoản ngân hàng qua mã QR</span>
                    </div>

                    <div class="payment-method__change text-danger fw-bold d-flex align-items-center gap-1">
                        thay đổi <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </div>

            <h5 class="payment-info__title fw-bold my-3">THÔNG TIN NHẬN HÀNG</h5>

            <div class="payment-order-info mt-4 w-100">
                <div class="payment-order-info__container container">
                    <div class="payment__card card w-100 border-0 shadow-sm rounded-4 p-4 mx-auto">
                        <div class="payment__details">
                            <div class="payment__row d-flex justify-content-between mb-3">
                                <span class="payment__label text-secondary fw-medium">Khách hàng</span>
                                <span class="payment__value">Lê Văn A</span>
                            </div>
                            <div class="payment__row d-flex justify-content-between mb-3">
                                <span class="payment__label text-secondary fw-medium">Số điện thoại</span>
                                <span class="payment__value">0344314284</span>
                            </div>
                            <div class="payment__row d-flex justify-content-between mb-3">
                                <span class="payment__label text-secondary fw-medium">Email</span>
                                <span class="payment__value">levana@gmail.com</span>
                            </div>
                            <div class="payment__row d-flex justify-content-between mb-3">
                                <span class="payment__label text-secondary fw-medium">Nhận hàng tại</span>
                                <span class="payment__value">12 Nguyễn Văn Bảo, Phường Hạnh Thông, Quận Gò Vấp, TP. Hồ
                                    Chí Minh</span>
                            </div>
                            <div class="payment__row d-flex justify-content-between mb-3">
                                <span class="payment__label text-secondary fw-medium">Người nhận</span>
                                <span class="payment__value">Lê Văn A - 0344314284</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="payment-info-footer d-flex align-items-center position-fixed bottom-0 start-0 end-0 bg-white border-top shadow-lg p-3">
                <div class="container d-flex justify-content-between align-items-center">
                    <div class="payment-info-footer__total">
                        <p class="m-0 fw-bold">Tạm tính:</p>
                        <h5 class="text-danger fw-bold m-0">2.259.500đ</h5>
                    </div>
                    <button class="payment-info-footer__btn-submit btn btn-danger px-5 py-2 fw-bold rounded-3">
                        TIẾP TỤC
                    </button>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="paymentMethodModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0 rounded-4">
                <div class="modal-header border-0 p-4 pb-0">
                    <h5 class="modal-title fw-bold">Chọn phương thức thanh toán</h5>
                    <button type="button" class="btn-close shadow-none" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body p-4">
                    <p class="text-muted small fw-bold text-uppercase mb-3">Khả dụng</p>

                    <div class="payment-options d-flex flex-column gap-3">
                        <div class="payment-option__item p-1">
                            <input type="radio" class="btn-check" name="payMethod" id="cod" checked>
                            <label
                                class="card border p-3 rounded-4 w-100 d-flex flex-row align-items-center justify-content-between"
                                for="cod">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="https://cdn-icons-png.flaticon.com/512/2331/2331895.png" width="35">
                                    <span class="fw-bold">Thanh toán khi nhận hàng</span>
                                </div>
                                <div class="check-icon"><i class="fa-solid fa-circle-check text-danger"></i></div>
                            </label>
                        </div>

                        <div class="payment-option__item p-1">
                            <input type="radio" class="btn-check" name="payMethod" id="momo">
                            <label
                                class="card border p-3 rounded-4 w-100 d-flex flex-row align-items-center justify-content-between"
                                for="momo">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="/images/momo.png" width="35">
                                    <div>
                                        <span class="fw-bold d-block">Ví MoMo</span>
                                    </div>
                                </div>
                                <div class="check-icon"><i class="fa-solid fa-circle-check text-danger"></i></div>
                            </label>
                        </div>

                        <div class="payment-option__item p-1">
                            <input type="radio" class="btn-check" name="payMethod" id="zalopay">
                            <label
                                class="card border p-3 rounded-4 w-100 d-flex flex-row align-items-center justify-content-between"
                                for="zalopay">
                                <div class="d-flex align-items-center gap-3">
                                    <img src="/images/zalo-pay.png" width="35">
                                    <div>
                                        <span class="fw-bold d-block">Zalo Pay</span>
                                    </div>
                                </div>
                                <div class="check-icon"><i class="fa-solid fa-circle-check text-danger"></i></div>
                            </label>
                        </div>

                        <div class="payment-option__item p-1">
                            <input type="radio" class="btn-check" name="payMethod" id="qr">
                            <label
                                class="card border p-3 rounded-4 w-100 d-flex flex-row align-items-center justify-content-between"
                                for="qr">
                                <div class="d-flex align-items-center gap-3">
                                    <i class="fa-solid fa-qrcode fs-3 text-danger"></i>
                                    <span class="fw-bold">Chuyển khoản ngân hàng qua mã QR</span>
                                </div>
                                <div class="check-icon"><i class="fa-solid fa-circle-check text-danger"></i></div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="modal-footer border-0 p-4 pt-0">
                    <button type="button" class="btn btn-danger w-100 py-3 fw-bold rounded-3"
                        data-bs-dismiss="modal">XÁC NHẬN</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Payment -->

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>

</body>

</html>