<!DOCTYPE html>
<html>

<head>
    <title>Trang Khuyến Mãi</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Header -->
    <header class="header py-3 sticky-top">
        <div class="header__container container position-relative">
            <div class="header__wrap d-flex align-items-center justify-content-between">

                <!-- Logo -->
                <div class="header__logo flex-shrink-0">
                    <a href="/" class="text-white fw-bold text-decoration-none fs-4 fs-md-2">
                        E-STORE
                    </a>
                </div>

                <!-- Menu -->
                <nav class="header__menu d-flex align-items-center ms-2 flex-shrink-0">
                    <i class="fa-solid fa-bars"></i>
                    <span class="d-none d-md-block ms-2">DANH MỤC</span>
                </nav>

                <!-- Sidebar Overlay -->
                <div class="sidebar-overlay position-fixed"></div>

                <div class="sidebar-form position-fixed w-100">
                    <!-- Sidebar Popup -->
                    <div class="sidebar d-flex align-items-start bg-transparent">
                        <!-- Sidebar List -->
                        <ul class="sidebar__container list-unstyled m-0 p-0">
                            <li class="sidebar__item active" data-category="phones">
                                <div class="sidebar__item--content">
                                    <i class="fa-solid fa-mobile-screen-button"></i>
                                    <span>
                                        <a href="/products">Điện thoại</a>,
                                        <a href="/products">Tablet</a>
                                    </span>
                                </div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </li>
                            <li class="sidebar__item" data-category="laptop">
                                <div class="sidebar__item--content">
                                    <i class="fa-solid fa-laptop"></i>
                                    <span>
                                        <a href="/products">Laptop</a>,
                                        <a href="/products">Màn hình</a>
                                    </span>
                                </div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </li>
                            <li class="sidebar__item" data-category="tv">
                                <div class="sidebar__item--content">
                                    <i class="fa-solid fa-tv"></i>
                                    <span>
                                        <a href="/products">TV</a>
                                    </span>
                                </div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </li>
                            <li class="sidebar__item" data-category="audio">
                                <div class="sidebar__item--content">
                                    <i class="fa-solid fa-headphones"></i>
                                    <span>
                                        <a href="/products">
                                            Âm Thanh
                                        </a>
                                    </span>
                                </div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </li>
                            <li class="sidebar__item" data-category="accessory">
                                <div class="sidebar__item--content">
                                    <i class="fa-solid fa-keyboard"></i>
                                    <span>
                                        <a href="/products">
                                            Phụ Kiện
                                        </a>
                                    </span>
                                </div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </li>
                            <li class="sidebar__item" data-category="discount">
                                <div class="sidebar__item--content">
                                    <i class="fa-solid fa-tag"></i>
                                    <span>
                                        <a href="/promotions">
                                            Khuyến Mãi
                                        </a>
                                    </span>
                                </div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </li>
                            <li class="sidebar__item" data-category="news">
                                <div class="sidebar__item--content">
                                    <i class="fa-solid fa-newspaper"></i>
                                    <span>
                                        <a href="/news">
                                            Tin Tức
                                        </a>
                                    </span>
                                </div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </li>
                        </ul>

                        <!-- Filter Content -->
                        <div class="sidebar__content" id="sidebarContent">
                        </div>
                    </div>
                </div>
                <!-- End Sidebar -->

                <!-- Search -->
                <form class="header__search d-flex align-items-center flex-grow-1 mx-2 mx-md-4" action="/search"
                    method="GET">
                    <input type="text" name="keyword" placeholder="Bạn cần tìm gì nào..."
                        class="flex-grow-1 border-0 outline-none">
                    <button type="submit" class="border-0 bg-transparent p-0">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>

                <!-- Account & Cart -->
                <div class="header__account d-flex align-items-center gap-2 gap-md-3 flex-shrink-0">

                    <!-- Username -->
                    <div class="header__account--username d-none d-lg-block text-white">
                        LE VAN A
                    </div>

                    <!-- Login -->
                    <a href="/auth/login"
                        class="header__account--login d-none align-items-center justify-content-center border-0 flex-shrink-0">
                        <i class="fa-regular fa-user"></i>
                        <div>Đăng nhập</div>
                    </a>

                    <!-- Icon User -->
                    <a href="/user-profile"
                        class="header__account--avt active d-flex align-items-center justify-content-center text-decoration-none flex-shrink-0">
                        <i class="fa-regular fa-user"></i>
                    </a>

                    <!-- Icon Cart -->
                    <a href="/cart"
                        class="header__account--cart d-flex align-items-center justify-content-center text-decoration-none flex-shrink-0 position-relative">
                        <div
                            class="header__account--cart-quantity fw-bold d-flex align-items-center justify-content-center position-absolute">
                            10
                        </div>
                        <i class="fa-solid fa-cart-shopping"></i>
                    </a>
                </div>

            </div>
        </div>
    </header>
    <!-- End Header -->

    <!-- Breadcrumb -->
    <nav class="c-breadcrumb" aria-label="breadcrumb">
        <div class="c-breadcrumb__container container py-1">
            <ol class="breadcrumb c-breadcrumb__list m-0 d-flex align-items-center">
                <li class="breadcrumb-item c-breadcrumb__item">
                    <a href="/" class="text-black">
                        <i class="fa-solid fa-house"></i>
                    </a>
                </li>
                <li class="breadcrumb-item c-breadcrumb__item">
                    <a href="/promotions" class="text-black">
                        Khuyến mãi
                    </a>
                </li>
                <li class="breadcrumb-item c-breadcrumb__item active text-black" aria-current="page">
                    Tin khuyến mãi
                </li>
            </ol>
        </div>
    </nav>
    <!-- End Breadcrumb -->

    <!-- Banner -->
    <section class="banner">
        <div class="banner__container container">
            <div class="banner__wrap d-flex align-items-center justify-content-center mx-lg-4 mx-3">
                <img src="/images/banner-5.png" class="banner__image img-fluid w-100">
            </div>
        </div>
    </section>
    <!-- End Banner -->

    <!-- Promotion Desc -->
    <section class="promotion-desc my-5">
        <div class="promotion-desc__container container">
            <div class="promotion-desc__wrap p-3 rounded-4 row g-4 mx-3">

                <div class="promotion-desc__main p-2 bg-white">
                    <div class="promotion-desc__content pe-lg-3">
                        <h3 class="promotion-desc__content--title fw-bold fs-5 mb-3">Đặc điểm nổi bật của iPhone 17
                            Pro 512GB</h3>

                        <div class="promotion-desc__content--detail">
                            <h4 class="fw-bold fs-6 mt-4">Điện thoại di động - thiết bị liên lạc, giải trí tiện lợi
                            </h4>
                            <p class="small text-secondary mb-3">
                                Điện thoại hay còn được gọi là điện thoại di động là thiết bị liên lạc dùng để nghe
                                gọi, nhắn tin, giúp kết nối con người, công việc mà không bị giới hạn bởi khoảng
                                cách địa
                                lý. Ngoài ra, các dòng smartphone hiện đại còn có nhiều tính năng nổi bật như chụp
                                ảnh, quay video, kết nối
                                internet, định vị GPS, tích hợp AI thông minh.
                            </p>
                            <p class="small text-secondary mb-3">
                                Với sự đa dạng về giá thành, mẫu mã, tính năng, điện thoại đã trở thành thiết bị
                                liên lạc, giải trí không thể thiếu trong cuộc sống hiện đại. Chúng luôn là trợ thủ
                                đắc lực giúp cho cuộc sống luôn thông
                                minh, hiện đại, tiện lợi và có khả năng kết nối hiệu quả.
                            </p>

                            <h4 class="fw-bold fs-6 mt-4">Chức năng của điện thoại là gì?</h4>
                            <p class="small text-secondary mb-2">Điện thoại di động có chức năng chính là liên lạc,
                                giải trí và xử lý công việc. Mỗi một chức năng sẽ hỗ trợ cho các tác vụ khác nhau,
                                cụ thể bao gồm:</p>
                            <ul class="small text-secondary ps-3 mb-3">
                                <li class="mb-1"><strong class="text-dark">Liên lạc:</strong> Các dòng điện thoại
                                    thường được dùng để gọi điện, gửi email, nhắn tin, call video và ứng dụng thông
                                    qua mạng xã hội để trao đổi, giao tiếp không giới hạn khoảng cách.
                                </li>
                                <li class="mb-1"><strong class="text-dark">Giải trí:</strong> Điện thoại thông minh
                                    được xem như một trung tâm giải trí di động nhờ cung cấp nhiều tính năng như
                                    chơi game, lướt web, xem phim, đọc sách và các phương thức giải trí trực tuyến.
                                </li>
                                <li class="mb-1"><strong class="text-dark">Công việc:</strong> Smartphone có thể hỗ
                                    trợ tốt cho việc thảo luận, soạn thảo văn bản, trình chiếu, họp trực tuyến, truy
                                    cập tài liệu và quản lý công việc.
                                </li>
                                <li class="mb-1"><strong class="text-dark">Tiện ích:</strong> Ngoài ra, các mẫu điện
                                    thoại còn được ứng dụng các
                                    tiện ích khác như chụp ảnh quay phim, định vị, xem lịch, cài báo thức, ghi âm và
                                    sử
                                    dụng một vài ứng dụng khác
                                    trong cuộc sống.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Product Des -->

    <!-- Footer -->
    <footer class="footer">
        <div class="footer__container container">
            <!-- Subscribe Form -->
            <div class="footer__subscribe row mx-lg-5 d-flex align-items-center p-4">
                <div class="col-12 col-lg-5 text-center text-lg-start mb-3 mb-lg-0">
                    <h5 class="m-0 fw-bold">GÓP Ý TRỰC TIẾP SHOP TẠI ĐÂY NHÉ</h5>
                </div>

                <div class="col-12 col-lg-7">
                    <div class="footer__form--wrap p-2 d-flex align-items-center">
                        <form class="footer__form--group d-flex bg-white p-1 w-100" action="">
                            <input class="form-control border-0 bg-transparent shadow-none px-3" type="email"
                                placeholder="Nhập email của bạn tại đây...">
                            <button class="btn px-4 fw-bold border-0" type="submit">
                                Gửi
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="footer__content row justify-content-center text-start text-md-start gy-4">
                <div class="col-6 col-md-3">
                    <h6 class="footer__title mb-3">Hỗ trợ</h6>
                    <ul class="footer__list list-unstyled ps-0">
                        <li><a href="tel:19001990">Liên Hệ 1900 1990</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/orders">Đơn Hàng</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-3">
                    <h6 class="footer__title mb-3">Về Chúng Tôi</h6>
                    <ul class="footer__list list-unstyled ps-0">
                        <li><a href="/about">Giới Thiệu</a></li>
                        <li><a href="/certifications">Chứng Nhận</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-3">
                    <h6 class="footer__title mb-3">Chính sách</h6>
                    <ul class="footer__list list-unstyled ps-0">
                        <li><a href="/shipping">Vận chuyển & Đổi trả</a></li>
                        <li><a href="/refund">Huỷ & Hoàn tiền</a></li>
                    </ul>
                </div>

                <div class="col-6 col-md-3">
                    <h6 class="footer__title mb-3">Kết nối với chúng tôi</h6>
                    <div class="footer__socials d-flex gap-3">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>

            <div class="footer__bottom row border-top border-white border-opacity-25 py-4 align-items-center">

                <div class="col-12 col-md-4 text-center text-md-start mb-3 mb-md-0">
                    <span class="small text-white">© 2026 E-Store. All rights reserved.</span>
                </div>

                <div class="col-12 col-md-4 text-center mb-3 mb-md-0">
                    <h3 class="footer__logo m-0 fw-bold text-white d-inline-block">E-STORE</h3>
                </div>

                <div class="col-12 col-md-4 text-center text-md-end">
                    <span class="small text-white">Cảm ơn bạn đã tin tưởng chúng tôi!!!</span>
                </div>

            </div>

        </div>
    </footer>
    <!-- End Footer -->

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>

</body>

</html>