<!DOCTYPE html>
<html>

<head>
    <title>Trang Đăng Ký</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <!-- Register Form -->
    <section class="register-form d-flex align-items-center justify-content-center my-5">
        <div class="register-form__container container d-flex justify-content-center">
            <div class="auth-card">
                <div class="auth-card__header text-center mt-4 mb-4">
                    <h1 class="auth-card__title">Welcome</h1>
                    <p class="auth-card__subtitle text-white">
                        Please enter your details to register
                    </p>
                </div>

                <form action="/auth/register" method="POST" class="auth-form__container p-4">
                    <div class="row g-3">
                        <div class="col-12">
                            <div class="input-group-custom position-relative d-flex align-items-center flex-column">
                                <i class="fa-solid fa-phone position-absolute"></i>
                                <input type="text" id="regPhone" class="form-control" placeholder="Phone number"
                                    name="phone" onkeyup="checkInputs()" required>
                                <small id="phoneErr"></small>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="input-group-custom position-relative d-flex align-items-center flex-column">
                                <i class="fa-solid fa-envelope position-absolute"></i>
                                <input type="email" id="regEmail" class="form-control" placeholder="Email" name="email"
                                    required>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="input-group-custom position-relative d-flex align-items-center flex-column">
                                <i class="fa-solid fa-user position-absolute"></i>
                                <input type="text" id="regFullname" class="form-control" name="fullname"
                                    placeholder="Fullname">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="input-group-custom position-relative d-flex align-items-center flex-column">
                                <i class="fa-solid fa-calendar-days position-absolute"></i>
                                <input type="text" class="form-control" placeholder="Date of Birth" name="dob"
                                    onfocus="(this.type='date')" onblur="if(!this.value)this.type='text'">
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="input-group-custom position-relative d-flex align-items-center flex-column">
                                <i class="fa-solid fa-key position-absolute"></i>
                                <input type="password" id="regPassword" class="form-control" placeholder="Password"
                                    name="password" onkeyup="checkInputs()" required>
                                <small id="passErr"></small>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="input-group-custom position-relative d-flex align-items-center flex-column">
                                <i class="fa-solid fa-key position-absolute"></i>
                                <input type="password" id="regConfirmPassword" class="form-control"
                                    placeholder="Confirm Password" name="confirmPassword" required>
                            </div>
                        </div>

                        <div
                            class="col-12 text-center my-3 d-flex align-items-center justify-content-center gap-2 flex-wrap">
                            <p class="small mb-2 w-100 text-white">Or register with</p>
                            <a href="#" class="google-btn d-flex align-items-center justify-content-center bg-white">
                                <i class="fa-brands fa-google"></i>
                            </a>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-login w-100 fw-bold" id="btn-submit">Create an
                                account</button>
                        </div>

                        <div class="col-12 text-center mt-3">
                            <p class="mb-1 text-white">Have an account? <a href="/auth/login"
                                    class="fw-bold text-white text-decoration-none">Sign in</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <!-- End Register Form -->

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>

</body>

</html>